@use "sass:math";

// TOPへ戻るボタン設定のため
body {
  position: relative;
}

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP";
$second-font-family: "Gotu";
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $second-font-family,$base-font-family,sans-serif;
}

// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$brown: #0D2936;
$black:#000000;
$white: #fff;
$green:#408F95;
