@use "global" as *;

.about {
  padding-top: rem(80);
  padding-bottom: rem(74);
  position: relative;
  @include mq(md) {
    padding-top: rem(134);
    padding-bottom: rem(142);
  }
}

.about::after {
  @include mq(md) {
    position: absolute;
    content:"";
    background: url(./../images/about-deco01.svg)no-repeat right bottom/contain;
    width: rem(194);
    height: rem(181);
    right: 6%;
    bottom: 5%;  
  }
}

.about__container {
  margin-top: rem(47);
  @include mq(md) {
    margin-top: rem(56);
  }
}