@use "global" as *;

.blog {
  position: relative;
  z-index: 0;

  // padding-top: rem(77);
  @include mq(md) {
    // padding-top: rem(90);
  }
}

.blog::before {
  @include mq(md) {
    content:"";
    position: absolute;
    background: url(./../images/blog-back.jpg)no-repeat top center/cover;
    width: 100%;
    height: rem(500);  
  }
}

.blog::after {
  @include mq(md) {
    content:"";
    position: absolute;
    background: url(./../images/blog-deco.svg)no-repeat top left/contain;
    top: 3%;
    left: 7%;
    width: rem(437);
    height: rem(200);
    z-index: 1;
  }
}

.blog__title {
  padding-top: rem(77);
  @include mq(md) {
    padding-top: rem(90);
  }
}

.inner.blog__inner {
  @include mq(md) {
    max-width: rem(1165);
  }
}

.blog__items {
  margin-top: rem(45);
  @include mq(md) {
    margin-top: rem(96);
  }
}

.blog__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    margin-top: rem(70);
  }
}