@use "global" as *;

.btn {
  cursor: pointer;
  // transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  position: relative;
  display: inline-block;
}


.btn::before {
  border: 1px solid $green;
  content: "";
  display: inline-block;
  height: 100%;
  left: rem(4);
  position: absolute;
  top: rem(4);
  width: 100%;
}

// ボタン基本コード
.btn span {
  align-items: center;
  background-color: $green;
  border: 0.0625rem solid $green;
  color: #fff;
  display: inline-flex;
  flex-direction: row-reverse;
  font-size: rem(14);
  font-weight: 400;
  line-height: 1.5714285714;
  overflow: hidden;
  padding: rem(15) rem(25) rem(15) rem(40);
  position: relative;
  transition: 0.3s ease;
  z-index: 1;  
  // @include mq(md) {
  //   padding: 14px rem(54) 14px 0%;

  // }
}

.btn span::after {
  background: #fff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  width: 100%;
  z-index: -1;
}
// .btn.slide:hover {
//   color: $green;
// }
.btn span:hover::after {
  transform: scale(1, 1);
}

.btn span::before {
  content:"";
  background: url(./../images/arrow.svg)no-repeat center/contain;
  content: "";
  display: inline-flex;
  height: rem(8);
  margin-top: rem(-4);
  transition: 0.3s ease;
  width: rem(61);
}

.btn span:hover::before {
  background: url(./../images/arrow-green.svg)no-repeat center/contain;
}


.btn span:hover {
  color: $green;
}