@use "global" as *;

.footer {
  background-color: $green;
  color: $white;
  padding-top: rem(50);
  padding-bottom: rem(55);
  @include mq(md) {
    padding-top: rem(86);
    padding-bottom: rem(78);
  }
}

.footer__head {
  max-width: rem(500);
  margin: 0 auto ;
  @include mq(md) {
    display: flex;
    max-width: rem(1100);
  }
}

.footer__logo {
  width: rem(120);
  height: auto; 
  @include mq(md) {
    width: rem(200);
  }
}

.footer__sns {
  margin-top: rem(15);
  display: flex;
  align-items: center;
  @include mq(md) {
    margin-left: rem(40);
    margin-top: rem(34);
  }
}


.footer__facebook {
  width: rem(20);
  height: rem(20);
  margin-left: rem(3);
  margin-right: rem(17);
  @include mq(md) {
    width: rem(27);
    height: rem(27);
  }
}

.footer__instagram {
  width: rem(24);
  height: rem(24);
  @include mq(md) {
    width: rem(32);
    height: rem(32);
  }
}



.footer-nav__items {
  max-width: rem(500);
  margin: 0 auto;
  margin-top: rem(25);
  display: flex;
  @include mq(md) {
    max-width: rem(1100);
    margin-top: rem(9);
  }
}
.footer-nav__items-left {
  width: 61%;
  padding-left: 6.5%;
  @include mq(md) {
    display: flex;
    width: 50%;
    padding-left: 2%;
  }
}


.footer-nav__items-right {
  width: 41%;
  @include mq(md) {
    display: flex;
    width: 50%;
    padding-left: 3.5%;
  }
}

.footer-nav__container {
  @include mq(md) {
    width: 50%;
  }
}
.footer-nav__container:nth-child(even) {
  @include mq(md) {
    padding-left: 5%;
  }
}


.footer-nav__wrapper{
  // padding-bottom: rem(15);
  padding-top: rem(15);
}


.footer-nav__item:first-child {
  font-weight: bold;
  position: relative;
}

.footer-nav__item:first-child:before {
  position: absolute;
  content:"";
  background: url(./../images/icon.svg)no-repeat left top / contain;
  width: 20px;
  height: 20px;
  z-index: 1;
  left: -22px;
}

.footer-nav__item {
  display: block;
  width: 100%;
  font-size: rem(16);
  font-weight: $regular;
  transition: opacity .3s;
}

.footer-nav__item:hover {
  opacity: .8;
}

.footer-nav__item span {
  font-weight: $bold;
}

.footer-nav__item {
  padding-bottom: rem(18);
}

.footer-nav__item a:hover {
  transition: opacity 0.3s;
  opacity: 0.6;
}

.footer__copyright {
  font-size: rem(12);
  text-align: center;
  margin-top: rem(15);
  @include mq(md) {
    font-size: rem(14);
    margin-top: rem(56);
  }
}
