@use "global" as *;

.fv {
  height: 100vh;
  position: relative;
}

.fv__title {
  font-size: rem(40);
  font-family: "Lato";
  font-weight: $regular;
  color: $white;
  letter-spacing: 20px;
  position: absolute;
  top: 49%;
  left: 51%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  @include mq(md) {
    font-size: rem(80);
    letter-spacing: 40px;
  }
}

.fv__title span {
  font-size: rem(20);
  font-family: $second-font-family;
  letter-spacing: 1px;
  margin-top: rem(-7);
}

.fv__img {
  width: 100%;
  height: 100vh;
}


.fv__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}