@use "global" as *;

.pc-nav {
  display: none;
  height: inherit;
  @include mq(md) {
    display: block;
  }
}

.pc-nav__items {
  height: inherit;
  display: flex;
  align-items: center;
  max-width: rem(862);
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__item a {
  height: inherit;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-left: max(2.75vw,39px);
  margin-left:clamp(0.625rem, -1.446rem + 4.32vw, 2.438rem);
  // margin-left: rem(39);
  font-size: rem(16);
  letter-spacing: 1px;
  position: relative;
}

.pc-nav__item a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 20px;
  // left: 10%;
  /*線の形状*/
  width: 100%;
  height: 1px;
  background:$white;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

.pc-nav__item a:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
}

.pc-nav__item span {
  font-size: rem(10);
}

